[submodule "finiteDifferencingToolbox"]
	path = finiteDifferencingToolbox
	url = https://github.com/jwbrooks0/finiteDifferencingToolbox
[submodule "finiteDifferencing"]
	path = finiteDifferencing
	url = https://github.com/jwbrooks0/finiteDifferencing
